<div class="container">
  <div class="hed"><br><br>
     Thank you for choosing SUSHANT MULTISPECIALTY HOSPITAL 
  </div><br><br>
  <div class="dept">
    <th>Top Departments we have</th>
    <tr>Cardiac Sciences</tr>
    <tr>Dental Science</tr>
    <tr>Gastroenterology & Hepatology</tr>
    <tr>Heart & Lung Transplantation</tr>
    <tr>Neuro Sciences</tr>
    <tr>Oncological Sciences</tr>
    <tr>Organ Transplantation</tr>
    <tr>Orthopedic Sciences</tr>
    <tr>Paediatrics Renal Sciences</tr>
    <tr>Reproductive Sciences</tr>
    <tr>Robotic Sciences</tr>

  </div>
</div>
  



  
  
  <div class = "container">
    <router-outlet></router-outlet>
  </div>
  <footer class = "footer">
    <div class = "container"> </div>
  </footer>